/* --- MOBILE STYLES --- */

.about {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensures content is centered */
  justify-content: center; /* Aligns content vertically */
  text-align: center; /* Centers inline text elements */
  width: 100%;
  margin-top: var(--spacing);
}

.aboutContainer {
  width: 100%;
  max-width: 800px; /* Adjust based on layout */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the AboutMe component */
  justify-content: center;
  border-bottom: 1px solid var(--grey);
  padding-bottom: var(--spacing);
}

/* Layout & Alignment */
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns AboutMe in the center */
  text-align: center;
  margin-top: var(--spacing);
}

.contentContainer h4 {
  color: var(--hl-color);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contentContainer h5 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.contentDescription {
  color: var(--secondary-text-color);
  line-height: 1.5;
}

/* Info Section */
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--spacing);
}

.info {
  padding-left: 0;
}

.infoContainer span {
  color: var(--text-color);
  font-weight: 500;
}

.infoContainer p {
  color: var(--secondary-text-color);
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.infoContainer a {
  color: var(--hl-color);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.infoContainer a:hover {
  color: #5865f2;
}

/* Button Styling */
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--sm-spacing);
}

.downloadCV {
  margin: var(--sm-spacing) 0;
}

/* Social Icons */
.about .socialIcons .icon {
  display: none;
}

@media (min-width: 750px) {
  .about .socialIcons .icon {
      display: inline;
  }

  .about .socialIcons::before {
      background-color: var(--grey);
      content: "";
      height: 2px;
      width: var(--sm-spacing);
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px;
  }
}

/* Larger Screens */
@media (min-width: 992px) {
  .personalImage img {
      height: 330px;
      z-index: 50;
      border-radius: 8px;
      padding: 6px;
      border: 1px solid var(--grey);
  }

  .personalImage {
      height: 330px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

/* Parent container for AboutMe */
.parentContainer {
  display: flex;
  justify-content: center; /* Ensures horizontal centering */
  align-items: center; /* Ensures vertical centering */
  width: 100%;
}
