/*
    MOBILE VIEW
*/

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing);
}
.resumeImage{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


